openapi: 3.2.0
info:
  title: Bob (HiBob) Public Attendance API
  description: 'Bob''s Public API for managing employees, attendance, projects, hiring,

    goals, documents, learning, and webhooks. Generated best-effort from

    public docs at https://apidocs.hibob.com/.'
  version: 1.0.0
  contact:
    name: HiBob
    url: https://apidocs.hibob.com/
servers:
- url: https://api.hibob.com/v1
  description: Production
security:
- serviceUserAuth: []
tags:
- name: Attendance
paths:
  /attendance/entries/search:
    post:
      tags:
      - Attendance
      summary: Fetch attendance entries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fromDate:
                  type: string
                  format: date
                toDate:
                  type: string
                  format: date
                employeeIds:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: OK
      operationId: postAttendanceEntriesSearch
      x-operation-id-source: derived
  /attendance/entries:
    post:
      tags:
      - Attendance
      summary: Bulk create attendance entries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttendanceEntry'
      responses:
        '201':
          description: Created
      operationId: postAttendanceEntries
      x-operation-id-source: derived
  /attendance/employees/{employeeId}/entries:
    patch:
      tags:
      - Attendance
      summary: Update entries
      parameters:
      - name: employeeId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttendanceEntry'
      responses:
        '200':
          description: OK
      operationId: patchAttendanceEmployeesByEmployeeIdEntries
      x-operation-id-source: derived
  /attendance-entries/{entryId}:
    post:
      tags:
      - Attendance
      summary: Delete entry
      parameters:
      - name: entryId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      operationId: postAttendanceEntriesByEntryId
      x-operation-id-source: derived
components:
  schemas:
    AttendanceEntry:
      type: object
      properties:
        employeeId:
          type: string
        date:
          type: string
          format: date
        startTime:
          type: string
        endTime:
          type: string
  securitySchemes:
    serviceUserAuth:
      type: http
      scheme: basic
      description: Service user credentials passed via HTTP Basic Authorization header
